$black-color = #000
$light-black-color = #262626

$base_font_size = 15

$base_font_size_ems = unit($base_font_size / 15, em)

$px = unit(1 / $base_font_size, rem)

$px_em = unit(1 / $base_font_size, em)